/* ---------css reset--------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------layout--------- */
/* header{
    position: fixed;
} */
.wrap{
    width: 1000px;
    margin: auto;
}
.topbar{
    padding: 6px 13px 8px 0;
    display: flex;
    justify-content: right;
    background-color: #f6f6f6;
}
.navbar{
    padding: 0 0 0 21px;
    border-color: #ffff;
    box-shadow:0px 10px 10px -15px #000;
}
.navbar-list{
    display: flex;
}
.course{
    margin: 60px 0 0 0;
}
.course-list{
    display: flex;
    justify-content: space-evenly;
}
/* ---------element--------- */
.topbar-hr{
    margin: 0 8px 0 8px;
    color: #cccc;
}
.topbar-follow{
    text-align: center;
    align-self:center;
    font-size: 14px;
    color: #4460a0;
}
.topbar-follow img{
    vertical-align:bottom;
    width: 16px;
    height: 16px;
}
.navbar-logo img{
    width: 170px;
}
.navbar-list li{
    margin: 0 15px 0 15px;
    padding: 17px 10px 18px 10px;
    border-bottom: 3px solid #00cc99;
}
.navbar-list li a{
    color:#00cc99;
}
.navbar-list li a:hover{
    color:black;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../images/Banner.png);
    height: 346px;
}
.banner-text{
    z-index: 100;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}
.banner-text h1{
    padding: 40px 0 38px 23px;
    font-size: 36px;
    color: #ffff;
}
.course-listItem{
    width: 300px;
    height: 330px;
    padding: 0 20px 20px 20px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 3px 3.5px 1px rgba(0, 0, 0, 0.15);
}
.course-listItem h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.course-listItem p{
    font-size: 15px;
    text-align: left;
    line-height: 22px;
}
.course-listItem li{
    text-align: left;
    line-height: 22px;
}
.course-listItem-img{
    height: 176px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
