/* ---------css reset--------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------layout--------- */
header{
    width: 1000px;
    /* position: fixed; */
}
body{
    font-family: Microsoft JhengHei;
}
.wrap{
    width: 1000px;
    margin: auto;
}
.topbar{
    padding: 6px 13px 8px 0;
    display: flex;
    justify-content: right;
    background-color: #f6f6f6;
}
.navbar{
    padding: 0 0 0 21px;
    background-color: #ffff;
    box-shadow:0px 10px 10px -15px #000;
}
.navbar-list{
    display: flex;
}
.course{
    margin: 60px 0 0 0;
}
.course-list{
    display: flex;
    justify-content: space-evenly;
}
table{
    margin: auto;
    width: 840px;
}
form{
    display: flex;
    flex-direction: column;
}
.formBlock{
    display: flex;
    justify-content: space-evenly;
}
.submit{
    display: flex;
    justify-content: right;
}
footer{
    margin-top: 26px;
}
.footerBlock{
    display: flex;
    justify-content: space-between;
}
/* ---------element--------- */
.topbar-hr{
    margin: 0 8px 0 8px;
    color: #cccc;
}
.topbar-follow{
    text-align: center;
    align-self:center;
    font-size: 14px;
    color: #4460a0;
}
.topbar-follow img{
    vertical-align:bottom;
    width: 16px;
    height: 16px;
}
.navbar-logo img{
    width: 170px;
}
.navbar-list li{
    margin: 0 15px 0 15px;
    padding: 17px 10px 18px 10px;
}
.navStyle{
    border-bottom: none;
}
.navStyle-active{
    border-bottom: 3px solid #00cc99;
}
.navbar-list li a{
    color:#00cc99;
}
.navbar-list li a:hover{
    color:black;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../images/Banner.png);
    height: 346px;
}
.banner-text{
    z-index: 100;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}
.banner-text h1{
    padding: 40px 0 38px 23px;
    font-size: 36px;
    color: #ffff;
}
.course-listItem{
    width: 300px;
    height: 330px;
    padding: 0 20px 20px 20px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 3px 3.5px 1px rgba(0, 0, 0, 0.15);
}
.course-listItem h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.course-listItem p{
    font-size: 15px;
    text-align: left;
    line-height: 22px;
}
.course-listItem li{
    text-align: left;
    line-height: 22px;
}
.course-listItem-img{
    height: 176px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.mainTable h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 64px auto 30px auto;
}
table thead{
    background-color: #f7f7f7;
    font-weight: bold;
}
table th,td{
    border-top: 1px solid #dddd;
    border-bottom: 1px solid #dddd;
    font-size: 15px;
    padding: 8px 0 12px 22px;
}
.mainTable-textStyle{
    color: #00a67d;
}
.mainForm{
    background-image: linear-gradient(0deg, 
    #009872 0%, 
    #00644b 100%);
}
.mainForm h2{
    margin-top: 60px;
    padding: 38px 0 32px 0;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
textarea{
    width: 460px;
    height: 245px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    padding: 15px;
    margin-bottom: 30px;
}
form input{
    width: 460px;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    font-size: 15px;
}
form label{
    margin-bottom: 5px;
    font-size: 15px;
    color: white;
}
.submit input{
    width: 70px;
    height: 32px;
    color: white;
    background-color: #00cc99;
    border: none;
}
.footerBlock img{
    margin: 0 0 58px 21px;
    width: 170px;
}
.footer-connact{
    font-size: 15px;
    line-height: 24px;
}
.footer-connact a{
    color: #e12d80;
}